<form action={{route('login')}} method="post">
<input type="text" name="username" placeholder="Username or email"><br>
<input type="text" name="password" placeholder="password"><br>
<button type="submit">Register</button>
</form>